<body id = "body">

<div class = "bodyDiv">
    <div>
        <img src = "assets/saftyLogo.png"  class = "safelogo"/>
        </div>

<div class = "exp">
    <h2>Risks</h2>
<h3><p>
    Blood donation is safe. New, sterile disposable equipment is used for each donor<br>
     so there's no risk of contracting a bloodborne infection by donating blood.<br><br>
    If you're a healthy adult:<br> you can usually donate a pint (about half a liter) of blood without endangering your health.<br>
    Within a few days of a blood donation, your body replaces the lost fluids.<br> And after two weeks, your body replaces the lost red blood cells.</p></h3>
</div>
    </div>
</body>
