.safelogo
{
    width:100px;
    height: 100px;
    position: relative;
    left:80%;
    margin:0px;
    top:20%;
    
}
body{
    position:absolute;
}
.bodyDiv
{
    position:absolute;
    width:700px;
    height: 400px;
    
}
.exp
{ 
    top:-12%;
    width:700px;
    height: 300px;
    position: relative;
    
}