.safelogo
{
    width:120px;
    height: 150px;
    position: relative;
    margin:0px;
}
.bodyDiv
{
    margin-left: auto;
    margin-right: auto;
    position:relative;
    width: 1200px;
    height: 1500px;   
}
.logoDiv
{
    position: relative;
    width:120px;
    height: 150px;
    left:65%;
    top:30%;
}
.exp1
{ 
    left:60%;
    
    width:500px;
    height: 350px;
    position: relative;  
}
.exp2
{ 
    top:-10%;
    width:500px;
    height: 300px;
    position: relative;
    left: 60%; 
}
.exp3
{ 
    top:-45%;
    width:700px;
    height: 1150px;
    position: relative;
      
}