<body id = "body">

<div class = "bodyDiv">    
        
            
    
            <div class = "exp1">
            <h2>Eligibility requirements:</h2>
            <h3><p>
        
               To be eligible to donate whole blood, plasma or platelets, you must be:<br>
             * In good health.<br>
             * At least 16 or 17 years old, depending on the law in your state.<br>
               Some states allow legal minors to donate with parent permission. While there's no legal upper age limit,<br>
               policies may vary between individual donor centers.<br>
             * At least 110 pounds (about 50 kilograms).<br>
             * Able to pass the physical and health-history assessments.<br>
             * Eligibility requirements differ slightly between different types of blood donation.</p></h3>
            </div>
         
            
        
            <div class = "exp2">
                <div class = "logoDiv">
                    <img src = "assets/healthyBody.png"  class = "safelogo"/>
                    </div>
                 <h2> Food and medications </h2>
                 
                 <h3><p>
                    Before your blood donation:<br>
                    
                    * Get plenty of sleep the night before you plan to donate.<br>
                    * Eat a healthy meal before your donation.<br>
                      Avoid fatty foods, such as a hamburger, fries or ice cream.<br>
                    * Drink plenty of water before the donation.<br>
                    * Check to see if any medications you are taking or recently took would prevent you from donating.<br>
                      For example, if you are a platelet donor, you must not take aspirin for two days prior to donating.<br>
                    * Talk to your doctor before discontinuing any medications.<br>
                    * Wear a shirt with sleeves that can be rolled up.<br>                    
                    </p>  
                 </h3>

            </div>

        
        
            <div class = "exp3">
                 <h2> Before the procedure </h2>
                 
                 <h3><p>
                    
                    Before you can donate blood<br>
                    You will be asked to fill out a confidential medical history<br>
                    that includes questions about behaviors known to carry a higher risk of bloodborne infections<br>
                    infections that are transmitted through the blood.
                    Because of the risk of bloodborne infections, not everyone can donate blood.<br>
                    The following are a few high-risk groups that are not eligible to donate blood:<br><br>

                    1) Anyone who has used injected drugs, steroids or another substance not prescribed by a doctor in the past three months<br>
                    2) Men who have had sexual contact with other men in the past three months<br>
                    3) Anyone who has a congenital coagulation factor deficiency<br>
                    4) Anyone who has had a positive test for HIV<br>
                    5) Anyone who has engaged in sex for money or drugs in the past three months<br>
                    6) Anyone who, in the past 12 months, has had close contact with — lived with or had sexual contact with <br>
                       — a person who has viral hepatitis<br>
                    7) Anyone who has had babesiosis, a rare and severe tick-borne disease, or the parasitic infection Chagas' disease<br>
                    8) Anyone who has risk factors for the degenerative brain disorder Creutzfeldt-Jakob disease (CJD)<br>
                    9) Anyone who spent three months or more in the United Kingdom from 1980 through 1996<br>
                    10) Anyone who received a blood transfusion in the United Kingdom or France from 1980 to the present<br>
                    11) Anyone who has spent time that adds up to five years or more in France or Ireland from 1980 to 2001<br>
                    12) You will also have a brief physical exam, which includes checking your blood pressure, pulse and temperature.<br>
                        A small sample of blood is taken from a finger prick and is used to check the oxygen-carrying component of your blood (hemoglobin level).<br>
                        If your hemoglobin concentration is normal and you've met all the other screening requirements, you can donate blood.<br>
                 </p></h3>
                <h2>COVID-19 concerns</h2>
                   <h3><p> The virus that causes coronavirus disease 2019 (COVID-19) hasn't been shown to be transmitted through blood transfusions.<br>
                    However, the U.S. Food and Drug Administration suggests waiting to donate blood for at least 14 days after a positive diagnostic test for COVID-19 without symptoms<br>
                    or for at least 14 days after symptoms of COVID-19 have completely cleared up <br>
                    -Those who have tested positive for COVID-19 antibodies but didn't have a diagnostic test and never developed symptoms can donate <br>
                    without a waiting period or having a diagnostic test done before donation.<br>
                    If you get a nonreplicating, inactivated or mRNA-based COVID-19 vaccine<br>
                    you can donate blood without a waiting period<br>
                    -However, if a live attenuated viral COVID-19 vaccine becomes available and you get it <br>
                    wait 14 days after being vaccinated before donating blood.<br>
                     If you aren't sure what type of vaccine you got, wait 14 days before donating blood.<br>                 
                    </p>  
                 </h3>

            </div>

    </div>

    </body>
    