/*.custom-row {
	
	
}

.custom-container {
	
}

.form-group {
	

}

.control-label {
padding-top: 5px;
}

.checkbox {
	margin-left: 5%;
}*/

#map
{
	width:0px;
	height:0px;
}

.title
{
	position: relative;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	left:30%;
}
.donorUser{
	margin-top:10px;
	left:10px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	position: relative;
	

}
.input-field
{

	margin-top:5px;

}
.secondDiv
{
	
	position:relative;
	width:190px;
	left:250px;
	top:-320px

}
.firstDiv{
	
	position:relative;
	width:400px;
	left:0px;
	top:-0px
}
.Buttons{
	position: relative;
	top:-170px;
}
.input-field > button
{
	position: relative;
	display:inline-block;
	margin:5px;
	width:70px;


}


