body{
    position:absolute;
}
.safelogo
{
    width:400px;
    height: 700px;
    position: relative;
    
    
}
.imgDiv
{
    width:400px;
    height: 700px;
    position: relative;
    left:80%;
    margin:0px;
    top:0%; 
}
.bodyDiv
{
    position:absolute;
    width:1000px;
    height: 1500px;
    
}
.exp
{ 
    top:-45%;
    width:700px;
    height: 800px;
    position: relative;
    
}
