/*.custom-row {
	
	
}

.custom-container {
	
}

.form-group {
	

}

.control-label {
	padding-top: 5px;
}

.checkbox {
	margin-left: 5%;
}*/
/*.custom-row {
	
	
}

.custom-container {
	
}

.form-group {
	

}

.control-label {
padding-top: 5px;
}

.checkbox {
	margin-left: 5%;
}*/

.title
{
	position: relative;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	left:30%;
}
.donorUser{
	margin-top:10%;
	position: relative;
	font-size: 15px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	left:17%;

}
.input-field
{

	margin-top:15px;

}
.input-field > button
{
	position: relative;
	display:inline-block;
	margin:5px;
	width:70px;

}
.uname
{
	margin-left: 10px;	
}
.pass
{
	margin-left: 31px;	

}
.op
{
	margin-left: 20px;
}

